<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<center style="padding-top:3cm;">

    <h3>INSTRUCTIONS</h3>
    <p>1. First you have to sign up and create a username and password.</p>
    <p>2. The username should only contain small letters, no special keys and no numbers.</p>
    <p>3. The password should contain alphabets, atleast one special key and one number.</p>
    <p>4. Then by clicking on Quiz you can log in and start your session.</p>
    
</center>


{% endblock %}
